:root {
	--container-width: 1170px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'Playfair Display', serif;

	--page-bg: #fff;
	--text-color: #3b3a3ac0;

	--accent: #ffcc33;

	--color-main: #006699;
	--color-secondary: #9fcfe7;

	// --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;

	$laptop-size: 1199px;
	$tablet-size: 959px;
	$mobile-size: 599px;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
%--shadow-main {
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}
%--main-h2-title {
	font-size: 33px;
	color: var(--text-color);
	margin-top: 35px;
	font-weight: 500;
}

$tablet-font-size-common: 14px;

@media screen and (min-width: 600px) and (max-width: 959px) {
	%--main-h2-title {
		font-size: 24px;
	}
}
