.main {
}
.apartment {
	&__container {
		display: grid;
		grid-template-columns: 9fr 3fr;
		gap: 30px;
		margin-bottom: 20px;
	}
	&__adress {
		font-size: 40px;
		padding: 30px 0 30px 0;
	}
	&__slider {
	}
	&__slider-main-container {
		display: flex;
		position: relative;
	}
	&__slider-prev-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: absolute;
		cursor: pointer;
		&:hover {
			transition: 0.5s;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
	.svg-icons--slider-prev-btn-icon-dims {
		height: 50px;
	}
	&__slider-next-btn {
		right: 0%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: absolute;
		cursor: pointer;
		&:hover {
			transition: 0.5s;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
	.svg-icons--slider-next-btn-icon-dims {
		height: 50px;
	}
	&__slider-main-img {
	}
	&__slider-full-screen-btn {
		right: 5px;
		bottom: 5px;
		position: absolute;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	&__slider-mini-images-container {
		margin-top: 5px;
		display: grid;
		gap: 3px;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	&__label-row-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	&__rooms-quantity {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__rooms-number {

	}
	&__rooms-span {

	}
	&__bed-places-quantity {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__bed-places-number {
	}
	&__bed-places-span {
	}
}
.slider-main-img {
}

%slider-mini-img-container-style {
	height: 84px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	&:hover {
		outline: 3px solid aqua;
	}
}

.slider-mini-img-container--active {
	outline: 3px solid rgb(0, 255, 64);
}
.slider-mini-img-container-1 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(1).jpg');
}
.slider-mini-img-container-2 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(2).jpg');
}
.slider-mini-img-container-3 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(3).jpg');
}
.slider-mini-img-container-4 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(4).jpg');
}
.slider-mini-img-container-5 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(5).jpg');
}
.slider-mini-img-container-6 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(6).jpg');
}
.slider-mini-img-container-7 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(7).jpg');
}
.slider-mini-img-container-8 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(8).jpg');
}
.slider-mini-img-container-9 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(9).jpg');
}
.slider-mini-img-container-10 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(10).jpg');
}
.slider-mini-img-container-11 {
	@extend %slider-mini-img-container-style;
	background-image: url('../../img/apartments/Rechnaya-1g/(11).jpg');
}

.slider-mini-img {
}
.section {
	&__table-container {
	}
	&__table-row {
	}
	&__table-property {
	}
	&__table-value {
	}
	&__left-container {
	}
	&__checked-condition {
	}
	&__rigth-container {
	}
}
.price-section {
}
.section-title {
}
.container-left {
}
.checked-condition {
}
.marked-checkbox-img-container {
}
.svg-icons--marked-checkbox-icon-dims {
}
.checked-condition-span {
}
.container-rigth {
}
.separator {
}
.map {
	&__container {
	}
}
.section-p {
}
.comment {
}
.comment-title {
}
.comment-p {
}
.aside-booking-form {
}
