.banner {
	background-color: var(--color-main);
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.svg-logo-dims {
	width: 180px;
}
.banner-text {
	color: #fff;
	font: {
		size: 40px;
		weight: 600;
	}

	text-transform: uppercase;
}
