.booking-form {
	&__sticky {
		top: 50px;
		position: sticky;
	}
	&__booking-form-container {
		border-radius: 0px 0px 20px 20px;
		background-color: var(--color-secondary);
		max-width: 270px;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-top: 30px;
		align-items: center;
	}
	&__price-block-wrapper {
		align-self: center;
		width: 86%;
		position: absolute;
		top: -25px;
	}
	&__price-block {
		display: flex;
		background-color: var(--accent);
		border-radius: 8px;
		border: 2px solid #fff;
		padding: 10px 20px;
		justify-content: center;
		align-items: center;
	}
	&__price-block-text {
		display: flex;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-family: Montserrat;
		line-height: normal;
		color: var(--color-main);
	}
	&__price {
		font-size: 24px;
	}
	&__price-span {
		font-size: 16px;
	}
	&__block {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	&__block-title {
		display: flex;
		padding: 10px;
		justify-self: center;
		font-weight: 600;
		color: var(--text-color);
	}

	&__input-container {
		border: 2px solid #9fcfe7;
		padding: 0 5px 0 5px;
		display: flex;
		height: 40px;
		background-color: #fff;
		width: 94%;
		justify-content: center;
		align-items: center;
	}
	&__input {

	}
	&__input-fake {
		opacity: 0.5;
		font-weight: 400;
	}
	&__necessarily-star {
		color: red;
	}
	&__empty-space {
		height: 20px;
	}
	&__submit-btn {
		cursor: pointer;
		margin: 30px;
		display: inline-flex;
		padding: 8px 15px;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		background: var(--color-main);
		color: #fff;
		@extend %--shadow-main;
		&:active {
			transform: translate(3px, 3px);
			box-shadow: none;
		}
		&:hover {
			color: var(--color-main);
			background-color: var(--accent);
		}
	}
}
.show-booking-form-btn-container {
	display: flex;
	justify-content: center;
}
.show-booking-form-btn {
	display: none;
	position: fixed;
	top: 90%;
	// display: flex;
	cursor: pointer;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: var(--color-main);
	color: #fff;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
	&:active {
		transform: translate(3px, 3px);
		box-shadow: none;
	}
	&:hover {
		color: var(--color-main);
		background-color: var(--accent);
	}
}
@media screen and (min-width: 600px) and (max-width: 959px) {
	.booking-form {
		&__price {
			font-size: 18px;
			font-weight: 500;
		}
		&__price-span {
			font-size: 12px;
			font-weight: 500;
		}
		&__block-title {
			font-size: $tablet-font-size-common;
			padding: 5px;
		}
		&__input-container {
			font-size: $tablet-font-size-common;
		}
		&__submit-btn {
			margin: 25px 15px;
			font-size: 14px;
			padding: 10px 10px;
		}
		&__booking-form-container {
			min-width: 180px;
		}
	}
}

@media screen and (max-width: 599px) and (min-width: 360px) {
	.show-booking-form-btn {
		display: flex;
	}

	.aside-booking-form {
		display: none;
	}
	.booking-form {
		top: 0;

		position: fixed;
		// right: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		z-index: 50;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease-in;
	}
	.booking-form--open {
		right: 0;
	}
	.aside-booking-form--show {
		display: block;
	}
}
@media screen and (max-width: 359px) {
	.show-booking-form-btn {
		display: flex;
	}
	.aside-booking-form {
		display: none;
	}
	.booking-form {
		top: 0;

		position: fixed;
		// right: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		z-index: 50;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease-in;
	}
	.booking-form--open {
		right: 0;
	}
	.aside-booking-form--show {
		display: block;
	}
}
