.card {
	&__container {
		display: flex;
		max-width: 865px;
		border: 1px solid #d8d8d8;
		@extend %--shadow-main;
		margin-top: 10px;
		margin-bottom: 40px;
	}

	&__photo-labels-container {
		position: absolute;
		top: -10px;
		left: -10px;
		width: calc(100% + 20px);
		display: flex;
		justify-content: space-between;
	}
	&__photo-container {
		max-width: 472px;
		position: relative;
	}
	&__price {
		background-color: #ffcc33;
		border-radius: 4px;
		color: var(--color-main);
		padding: 7px 20px;
		border: 1px solid #fff;
	}
	&__rooms {
		background-color: #23a328;
		border-radius: 4px;
		color: #fff;
		padding: 7px 20px;
		border: 1px solid #fff;
		font: {
			size: 20px;
			weight: 500;
		}
	}
	&__photo {
	}
	&__description {
		padding-top: 27px;
		padding-left: 40px;
	}
	&__title {
		font: {
			size: 22px;
			weight: 400;
		}
	}
	&__adress {
		margin-top: 5px;
		font: {
			size: 16px;
			weight: 400;
		}
	}
	&__bed-place-container {
	}
	&__bed-place-title {
		margin-top: 32px;
		font: {
			size: 16px;
			weight: 400;
		}
	}
	&__bed-place {
		display: flex;
		align-items: center;
	}
	&__bed-place-number {
	}
	&__bed-place-icon {
	}
	&__facilities {
		display: flex;
		gap: 10px;
	}
	&__facilities-icon {
		display: flex;
		align-items: center;
	}
}
.svg-icons--bed-place-icon-dims {
	width: 40px;
	height: 50px;
}
.svg-icons--WiFi-icon-dims {
	width: 40px;
	height: 40px;
}
.svg-icons--conditioner-icon-dims {
	width: 50px;
	height: 50px;
}
.svg-icons--washer-icon-dims {
	width: 40px;
	height: 40px;
}
.price-number {
	font: {
		size: 20px;
		weight: 500;
	}
}
.price-day {
	font: {
		size: 16px;
		weight: 400;
	}
}
