.card {
	&__container {
		display: flex;
		width: 865px;
		// height: 250px;
		border: 1px solid #d8d8d8;
		@extend %--shadow-main;
		margin-top: 10px;
		margin-bottom: 40px;
		&:hover {
			transform: scale(1.05);
			transition: transform 0.2s ease-in-out;
		}

		transition: transform 0.2s ease-in-out;
	}

	&__photo-labels-container {
		position: absolute;
		top: -10px;
		left: -10px;
		width: calc(100% + 20px);
		display: flex;
		justify-content: space-between;
	}
	&__photo-container {
		width: 472px;
		max-height: 300px;
		position: relative;
		cursor: pointer;
	}
	&__price {
		background-color: #ffcc33;
		border-radius: 4px;
		color: var(--color-main);
		padding: 7px 20px;
		border: 1px solid #fff;
	}
	&__rooms {
		background-color: #23a328;
		border-radius: 4px;
		color: #fff;
		padding: 7px 20px;
		border: 1px solid #fff;
		font: {
			size: 20px;
			weight: 500;
		}
	}
	&__photo {
	}
	&__description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 393px;
		padding: 15px 30px 15px 30px;
	}
	&__title {
		word-wrap: break-word;
		max-height: 56px;
		overflow: hidden;
		font: {
			size: 22px;
			weight: 400;
		}
	}
	&__adress {
		margin-top: 5px;
		font: {
			size: 18px;
			weight: 600;
		}
	}
	&__bed-place-container {
	}
	&__bed-place-title {
		font: {
			size: 16px;
			weight: 400;
		}
	}
	&__bed-place {
		display: flex;
		align-items: center;
	}
	&__bed-place-number {
	}
	&__bed-place-icon {
	}
	&__facilities {
		display: flex;

		gap: 10px;
	}
	&__facilities-icon {
		display: flex;
		align-items: center;
	}
	&__bottom-row {
		display: flex;
		justify-content: space-between;
	}
	&__detailed-btn {
		height: 100%;
		width: 100%;
		padding: 2px 10px;
		&:hover {
			font-weight: 500;
		}
	}
	&__detailed-btn-link {
		display: inline-flex;
		margin: 6px 0;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		background: var(--color-main);
		color: #fff;
		@extend %--shadow-main;
		&:hover {
			color: var(--color-main);
			background-color: var(--accent);
		}
		&:active {
			transform: translate(3px, 3px);
			box-shadow: none;
		}
	}
}
.svg-icons--bed-place-icon-dims {
	width: 40px;
	height: 50px;
}
.svg-icons--WiFi-icon-dims {
	width: 40px;
	height: 40px;
}
.svg-icons--conditioner-icon-dims {
	width: 50px;
	height: 50px;
}
.svg-icons--washer-icon-dims {
	width: 40px;
	height: 40px;
}
.price-number {
	font: {
		size: 20px;
		weight: 500;
	}
}
.price-day {
	font: {
		size: 16px;
		weight: 400;
	}
}

@media screen and (min-width: 600px) and (max-width: 959px) {
	.card {
		scale: 0.6;
	}
}
