.footer {
	background-color: #22363b;
	padding: 50px 0;
	color: #fff;

	h1 {
		font-size: 32px;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

.footer {
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__item {
	}
	&__item-title {
		color: #e0e0e0;
		line-height: 40px;
		font: {
			weight: 500;
			size: 20px;
		}
	}
	&__item-content {
		color: #a7a7a7;
		font: {
			size: 13px;
			weight: 400;
		}
		line-height: 25px;
	}
	&__item-list {
	}
	&__item-text-link {
		color: #a7a7a7;
		font: {
			size: 13px;
			weight: 400;
		}
		line-height: 25px;
		cursor: pointer;
	}
	&__social-icons-container {
		display: flex;
		gap: 15px;
	}
}

