.header {
	background-color: var(--color-main);
	padding: 0px 0;

	&__first-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}
	&__second-row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
}
.header__nav-header {
	display: flex;
}
.header__link {
	list-style-type: none;
	font-weight: 600;
	font-size: 24px;
	padding-right: 22px;
	color: #fff;
	&:last-child {
		padding-right: 0;
	}
}
.header__container {
	height: 200px;
	max-width: var(--container-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__second-row .banner {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
}
.social-icons-container {
	display: flex;
	gap: 13px;
	min-width: 145px;
}
.svg-icons--whatsaap-icon-dims {
	width: 48px;
	height: 48px;
}

.svg-icons--telegram-icon-dims {
	width: 48px;
	height: 48px;
}
.svg-icons--avito-icon-dims {
	width: 48px;
	height: 48px;
}
.svg-icons--phone-icon-dims {
	width: 30px;
	height: 30px;
}
.phone-container {
	min-width: 253px;
	display: flex;
	gap: 12px;
	align-items: center;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.callback-btn {
	display: flex;
	background-color: #ffcc33;
	border-radius: 10px;
}
.callback-btn__text {
	color: var(--color-main);
	padding: 12px;
	font-size: 16px;
	font-weight: 600;
}
.svg-logo-dims {
	width: 170px;
	height: auto;
}
