.header {
	background-color: var(--color-main);
	padding: 0px 0;

	&__first-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__second-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.nav-header {
	display: flex;

	& li {
		list-style-type: none;
		font-weight: 600;
		font-size: 24px;
		padding-right: 22px;
		color: #fff;
	}
}
.header__container {
	height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__second-row .banner {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
}
.social-icons-container{
	display: flex;
	gap: 13px;
}
.svg-icons--whatsaap-icon-dims {
	width: 48px;
	height: 48px;
}
// 1170
.svg-icons--telegram-icon-dims {
	width: 48px;
	height: 48px;
}
.svg-icons--avito-icon-dims {
	width: 48px;
	height: 48px;
}
