.header {
	background-color: var(--color-main);
	padding: 0px 0;

	&__first-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}
	&__second-row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
	&__menu-list {
		display: flex;
	}
	&__menu-list-item {
		padding-right: 22px;
		&:last-child {
			padding-right: 0;
		}
	}
	&__menu-link {
		color: #fff;
		font: {
			weight: 600;
			size: 24px;
		}
	}
	&__container {
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__banner {
		color: #fff;
		font: {
			size: 40px;
			weight: 600;
		}

		text-transform: uppercase;
	}
	&__phone-container {
		min-width: 253px;
		display: flex;
		gap: 12px;
		align-items: center;
		color: #fff;
		font: {
			size: 16px;
			weight: 600;
		}
	}
}
.social-icons-container {
	display: flex;
	gap: 13px;
	min-width: 145px;
}
.svg-icons {
	&--whatsaap-icon-dims {
		width: 48px;
		height: 48px;
	}
	&--telegram-icon-dims {
		width: 48px;
		height: 48px;
	}
	&--avito-icon-dims {
		width: 48px;
		height: 48px;
	}
	&--phone-icon-dims {
		width: 30px;
		height: 30px;
	}
}
.svg-logo-dims {
	width: 170px;
	height: auto;
}
.callback-btn {
	display: flex;
	background-color: #ffcc33;
	border-radius: 10px;
}
.callback-btn__text {
	color: var(--color-main);
	padding: 12px;
	font: {
		size: 16px;
		weight: 600;
	}
}
