.map-main {
	display: flex;
	flex-direction: column;
}
.map__title {
	align-self: center;
	text-align: center;
}
.yandex-map {
	margin: 20px 0 20px 0;
	@extend %--shadow-main;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
	.map-main {
		width: 583px;
	}
	.map__title {
		font-size: 24px;
	}
}
@media screen and (max-width: 599px) {
	.map-main {
		height: 500px;
	}
	.yandex-map {
		box-shadow: none;
	}
	.map__title {
		font-size: 24px;
	}
}
