.map-main {
	display: flex;
	flex-direction: column;
}
.show-map-btn{
	padding: 6px 20px;
	display: inline-block;
	margin: 10px 0;
	justify-self: center;
	align-self: center;
	border-radius: 4px;
	background: var(--color-main);
	color: #fff;
	@extend %--shadow-main;
	&:hover {
		color: var(--color-main);
		background-color: var(--accent);
		font-weight: 500;
	}
	&:active {
		transform: translate(3px, 3px);
		box-shadow: none;
	}
}
.map__title {
	align-self: center;
	text-align: center;
}
.yandex-map {
	margin: 20px 0 20px 0;
	@extend %--shadow-main;
}

@media screen and (max-width: 959px) {
	.map__title {
		font-size: 24px;
	}
}
@media screen and (max-width: 599px) {
	.map-main {
		max-height: 500px;
	}
	.yandex-map {
		box-shadow: none;
	}
}
