%pagination-btn-style {
	color: #4a4a4a;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
	line-height: 36px;
	padding: 0px 11px;
	background: white;
	border-radius: 4px;

	@extend %--shadow-main;
	border: 1px #d8d8d8 solid;
}
.pagination {
	display: flex;

	&__inner {
		display: flex;
		margin-bottom: 40px;
	}
	&__back-btn {
		@extend %pagination-btn-style;
		margin-right: 10px;
	}
	&__dots {
		color: #4a4a4a;
		font-size: 16px;
		font-family: Montserrat;
		font-weight: 400;
		line-height: 36px;
		background: white;
	}
	&__forward-btn {
		@extend %pagination-btn-style;
		margin-left: 10px;
	}
	&__btn {
		@extend %pagination-btn-style;
		margin: 0 5px;
	}
}
.--active-page {
	background-color: #3399cc;
	color: #fff;
	border: none;
}
