// @extend %--main-h2-title
.section {
}
.rules-block {
	&__title {
		@extend %--main-h2-title;
	}
	&__items {
		padding: 30px 10px;
		display: flex;
		flex-direction: column;
		// flex-wrap: wrap;
		// grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	&__item {
		font: {
			// size: 20px;
			weight: 500;
		}
		// width: 45%;
	}
}
