.swiper{
	width: 835.5px;
	height: 470px;
}
.thumbs-swiper{
	width: 835.5px;
	overflow:hidden;
	height: 98px;
	padding: 5px 3px;
}
.slider-main-img {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

