
.swiper {
	// width: inherit;
	width: 835.5px;
	height: 470px;
}
.thumbs-swiper {
	width: 835.5px;
	// width: fit-content;
	overflow: hidden;
	height: 98px;
	padding: 5px 3px;
}
.slider-main-img {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
@media screen and (min-width: 960px) and (max-width: 1099px) {
	.swiper,
	.thumbs-swiper,
	.apartment__slider-main-container {
		width: 700px;
	}
	.swiper {
		height: 396px;
	}
}
@media screen and (min-width: 600px) and (max-width: 959px) {
	.swiper,
	.thumbs-swiper,
	.apartment__slider-main-container {
		width: 373px;
	}
	.swiper {
		height: 210px;
	}
}
@media screen  and (min-width: 500px) and (max-width: 599px) {
	.swiper,
	.thumbs-swiper,
	.apartment__slider-main-container {
		width:460px;
		margin: 0 auto;
	}
	.swiper {
		height: 260px;
	}
}
@media screen  and (min-width: 360px) and (max-width: 499px) {
	.swiper,
	.thumbs-swiper,
	.apartment__slider-main-container {
		width:340px;
		margin: 0 auto;
	}
	.swiper {
		height: 190px;
	}
}

@media screen and (max-width: 359px) {
	.swiper,
	.thumbs-swiper,
	.apartment__slider-main-container {
		width: 250px;
		margin: 0 auto;
	}
	.swiper {
		height: 140px;
	}
}
